body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(47, 50, 80);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.Counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diapo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 600px;
}

button,
a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  transition: all 0.3s ease;
}

button {
  background-color: #4caf50;
  color: white;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

a {
  background-color: #f44336;
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: #d32f2f;
  transform: scale(1.1);
}

h1 {
  color: bisque;
  margin-bottom: 20px;
}

form {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
}

form div {
  display: flex;
  flex-direction: column;
}

form button {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: bisque;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input:focus,
textarea:focus {
  border-color: #4caf50;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
}

footer p {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

header img {
  width: 120px;
  height: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}
td {
  color: bisque;
}
